<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magnam natus quam nemo aperiam! Possimus aspernatur quibusdam magni vel eveniet sed nostrum esse, similique at numquam ducimus, quisquam deserunt. Quas non facilis iure impedit maiores. Explicabo nihil excepturi officia dolore!</p>
    </div>
</div>