<div class="jumbotron">
  <h1 class="display-4">Notes app Nodejs and mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci unde doloribus cumque</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut cum recusandae odit aut debitis voluptatibus vero dolorum, amet quo eligendi soluta voluptatum commodi suscipit ratione facilis est deleniti, a dignissimos.</p>
  <a class="btn btn-primary" href="#" role="button">Learn more</a>
</div>